<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD - SpringBoot - Thymeleaf</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br>
        <div>
            <a href="/save/0" class="btn btn-primary mt-2">Agregar</a>
        </div>
         <div th:switch="${List}">
             <div th:case="*">
                 <h2 class="mt-5 mb-3">Personas</h2>

                 <table class="table">
                    <thead class="thead-dark">
                      <tr>             
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Telefono</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        <tr th:each="persona : ${List}">
                            <td th:text="${persona.nombre}"></td>
                            <td th:text="${persona.apellido}"></td>
                            <td th:text="${persona.direccion}"></td>
                            <td th:text="${persona.telefono}"></td>
                            <td><a th:href="@{/save/{id}(id=${persona.id})}" class="btn btn-primary">Editar</a></td>
                            <td><a th:href="@{/delete/{id}(id=${persona.id})}" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                    </tbody>
             </div>
         </div>
    </div>
</body>
</html>